/* General */

.container {
max-width: 960px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.1);
  -webkit-text-size-adjust: 100%;
  border-top: 0.14286em solid #777;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}


a {
  color: #c00;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}




section, footer {
  padding: 30px 0;
}


.button {
  border-radius: 5px;
  background: #efefef;
  background-image: -moz-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -webkit-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -ms-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: linear-gradient(#FCFCFC, #EFEFEF);
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: .5em;
}

.button:hover, .button:focus {
  outline: none;
  border: 1px solid rgba(255,0,0,.5);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 0 10px rgba(255,0,0,.3);
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #c00;
background-color: transparent;  
}

.navbar-nav>.active>a .active {
	color: #000;
  border: 1px solid rgba(255,0,0,.5);

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #fff;
}


.navbar-default {
background-color: #fff;
border-color: #fff;
}


.navbar-collapse{
	background-color: #F8F8F8;
}

.collapse{
		background-color: #fff;

}

/* Code Highlighting */

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 10px;
line-height: 1.428571429;
color: transparent;
word-break: break-all;
word-wrap: break-word;
background-color: transparent;
border: 0px solid #ccc;
border-radius: 4px;
}

pre, code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  padding: 0 .5em;
  line-height: 1.8em;
  text-shadow: 0 0px 0 rgba(255,255,255,0);
}

.lineno {
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

}

@media (min-width: 768px){
  pre, code {
    font-size: 14px;
  }
}

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
  background: #555;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.3),
    0 1px 0 rgba(255,255,255,.1),
    0 -1px 0 rgba(0,0,0,.5);
}

.note code {
  background-color: rgba(0,0,0,0.2);
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 0.8em;
}

.highlight {
  padding: 10px 0;
  width: 100%;
  overflow: auto;
}


hr.soften {
height: 1px;
margin-top: 70px 0;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
border: 0;
}

.dl-horizontal dt {
float: left;
width: 100px;
}


dt.nanboku{
  color:#00a7b5;
  background:url(../img/icon_nanboku.png) no-repeat 0 0;
}

dt.mita{
  color:#3366ff;
}

dt.hibiya{
  color:#999999;
}

.dl-horizontal dd {
margin-left: 120px;
}

.navbar-default .navbar-brand {
}