---
layout: default
title: J CUBE Inc • News
news: true
---
  <section>
    <div class="container">
    <h2>News</h2>
    
    <div class="row">
        <div class="col-md-6">
          {% for post in site.categories.news-en %}
          <dt>
            <span>{{ post.date | date_to_string }}</span>
          </dt>
  
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <p class="lead">
            {{ post.excerpt }}
          </p>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for post in site.categories.news-jp %}
          <dt>
            <span>{{ post.date | date_to_string }}</span>
          </dt>
  
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <p class="lead">
            {{ post.excerpt }}
          </p>
          {% endfor %}
        </div>
    </div>
 
<!--{% highlight ruby linenos%}
def show
  @widget = Widget(params[:id])
  respond_to do |format|
    format.html # show.html.erb
    format.json { render json: @widget }
  end
end
{% endhighlight %}-->
</div> <!-- container-->
  </section>

 
