<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand {% if page.home %}active{% endif %}" href="/">J<b><sup>3</sup></b> </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.about %}active{% endif %}"><a href="{{ site.url }}/about"><i class="fa fa-users"></i> About</a></li>
        <li class="{% if page.news %}active{% endif %}"><a href="{{ site.url }}/news"><i class="fa fa-bullhorn"></i> News</a></li>
        <li class="{% if page.contact %}active{% endif %}"><a href="{{ site.url }}/contact"><i class="fa fa-map-marker"></i> Contact</a></li>
        <li><a href="https://github.com/j-cube"><i class="fa fa-github"></i> GitHub</a></li>
        <li><a href="https://twitter.com/jcubeinc"><i class="fa fa-twitter"></i> Twitter</a></li>
      </ul>
    </nav><!-- /.navbar-collapse -->
  </div>
</header>
